@using Timetracker.Entities.Models;
@model ProjectsView
<link rel="stylesheet" href="~/css/site.css" />

<h1>Ваши проекты</h1>
<table>
    <tbody>
        @if (Model.SignedProjects != null)
        {
            @foreach (var item in Model.SignedProjects)
            {
                <tr>
                    <td><h4>@item.Title</h4></td>
                    <td><h4>@item.Description</h4></td>
                </tr>
            }
        }
    </tbody>
</table>

<h1>Вас пригласили в следующие проекты</h1>
<table>
    <tbody>
        @if (Model.SignedProjects != null)
        {
            @foreach (var item in Model.NotSignedProjects)
            {
                <tr>
                    <td><h4>@item.Title</h4></td>
                    <td><h4>@item.Description</h4></td>
                </tr>
            }
        }
    </tbody>
</table>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}